<div class="container">
  <button mat-icon-button type="submit" (click)="goToDashbord()" aria-label="Home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-icon-button type="button" aria-label="Véhicule disponible">
    <mat-icon color="primary">pie_chart</mat-icon>
    <span>Vehicle</span>
  </button>

  <button mat-icon-button type="submit" aria-label="Order">
    <mat-icon>pie_chart_outline</mat-icon>
    <span>Order</span>
  </button>

  <button mat-icon-button type="submit" aria-label="Consumption">
    <mat-icon>bar_chart</mat-icon>
    <span>Consumption</span>
  </button>
</div>
