ion-content {
    --background: linear-gradient(180deg, #e6f0fa 0%, #ffffff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .container {
    width: 100%;
    height: 100%;
    max-width: 380px;
    background: #F8F9FD;
    background: linear-gradient(0deg, #ffffff 0%, #f4f7fb 100%);
    border-radius: 40px;
    padding: 30px;
    padding-top: 200px;
    border: 5px solid #ffffff;
    box-shadow: rgba(133, 189, 215, 0.88) 0px 30px 30px -20px;
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    color: rgb(16, 137, 211);
    margin-bottom: 15px;
  }
  
  .form {
    margin-top: 10px;
  }
  
  .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
    font-size: 14px;
  }
  
  .input::placeholder {
    color: #aaaaaa;
  }
  
  .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }
  
  .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .forgot-password a {
    font-size: 12px;
    color: #0099ff;
    text-decoration: none;
  }
  
  .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, #1089d3 0%, #12b1d1 100%);
    color: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.88) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.88) 0px 23px 10px -20px;
  }
  
  .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.88) 0px 15px 10px -10px;
  }
  
  .social-account-container {
    margin-top: 25px;
  }
  
  .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaaaaa;
    margin-bottom: 10px;
  }
  
  .social-accounts {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-button {
    background: linear-gradient(45deg, #000 0%, #707070 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgba(133, 189, 215, 0.88) 0px 12px 10px -8px;
    transition: transform 0.2s ease-in-out;
  }
  
  .social-button:hover {
    transform: scale(1.2);
  }
  
  .social-button:active {
    transform: scale(0.9);
  }
  
  .svg {
    fill: white;
  }
  
  .agreement {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  
  .agreement a {
    text-decoration: none;
    color: #0099ff;
    font-size: 10px;
  }
  