<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeMd="3">
        <ion-card class="success">
          <ion-card-header>
            <ion-icon name="car"></ion-icon>

            <!--<ion-icon [name]="'car'" slot="start"></ion-icon>-->
          </ion-card-header>
          <ion-card-content>
            <div class="top">{{ totalVehicles }}</div>
            <div class="bottom">Vehicles</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" sizeMd="3">
        <ion-card class="warning">
          <ion-card-header>
            <ion-icon name="person"></ion-icon>

          </ion-card-header>
          <ion-card-content>
            <div class="top">{{ totalDrivers }}</div>
            <div class="bottom">Drivers</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" sizeMd="3">
        <ion-card class="danger">
          <ion-card-header>
            <ion-icon name="construct"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <div class="top">{{ totalTechnicians }}</div>
            <div class="bottom">Technicians</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" sizeMd="3">
        <ion-card class="primary">
          <ion-card-header>
            <ion-icon name="build"></ion-icon>

          </ion-card-header>
          <ion-card-content>
            <div class="top">{{ totalAteliers }}</div>
            <div class="bottom">Workshops</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
 <app-footer></app-footer>
</ion-footer>
