
<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Image de bus -->
  <div class="bus-banner"></div>

  <!-- À propos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>À propos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La Société Régionale de Transport de Jendouba (SRTJ) est chargée d'assurer
      un transport public fiable, sécurisé et accessible dans toute la région.
      Elle joue un rôle crucial dans la mobilité quotidienne des citoyens.
    </ion-card-content>
  </ion-card>

</ion-content>



